*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #FFFFFF;
}

body{
    background-image: url(/images/F1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#container{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: right;
}

#header{
    padding: 20px 40px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 45px;
}

nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
}

nav ul li a:hover::after{
    width: 100%;
}


.logo{
    width: 100px;
    height: 70px;
}

#content-text{
    margin-top: 15%;
    margin-left: 5%;
    font-size: 30px;
}
#content-text h1{
    font-size: 60px;
    margin-top: 20px;
}

#content-text h1 span{
    color: #ff004f;
}