body{
    margin: 0;
}

.container{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

nav img{
    height: 50px;
    width: 50px;
}



.container ul li{
    display: inline-block;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin: 10px 20px;
    font-size: 20px;
}

.container ul li a{
    gap: 25px;
    text-decoration: none;
    color: black;
}