*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* background-color: black; */
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: right;
}

.container{
    padding: 20px 40px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 45px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
}

nav ul li a:hover::after{
    width: 100%;
}


.logo{
    width: 100px;
    height: 70px;
}

#header-text{
    margin-top: 20%;
    font-size: 30px;
}
#header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

#header-text h1 span{
    color: #ff004f;
}